{% extends "base.html" %}
{% block content %}
    <form id="yupiao_form" target="query_result" method="get" action="{% url api_yupiao emitter_format='html' %}">
      <div data-role="fieldcontain">
        <label for="date">日期:</label><input type="text" name="date" id="date"/>
        <span>格式:04-29 或者2011-04-29</span>
      </div>
      <div data-role="fieldcontain">
        <label for="start">发站:</label><input type="text" name="start" id="start"/>
      </div>
      <div data-role="fieldcontain">
        <label for="arrive">到站:</label><input type="text" name="arrive" id="arrive"/>
      </div>
      <div data-role="fieldcontain">
        <input type="submit" value="提交"/>
      </div>
    </form>
    <iframe border="0" width="100%" height="800px" name="query_result"></iframe>
{% endblock %}
