{% extends "base.html" %}
{% block content %}
    <form id="yupiao_form" target="query_result" method="get" action="{% url train_yupiao emitter_format='html' %}">
      <label for="date">日期:</label><input type="text" name="date" id="date"/>
      <label for="start">发站:</label><input type="text" name="start" id="start"/>
      <label for="arrive">到站:</label><input type="text" name="arrive" id="arrive"/>
      <input type="submit" value="提交"/>
    </form>
    <iframe border="0" width="100%" height="800px" name="query_result"></iframe>
{% endblock %}
